@import url('../assets/fonts/fonts.css');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgb(41, 41, 41);
}
::-webkit-scrollbar-thumb{
    background: #B50000;
    border-radius: 10px;
}
.container{
    max-width: 1290px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.scroll{
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 100;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    display: none;
}
.scroll:hover{
    background-color: #000000;
}
/* HEADER_START */
.header_nav{
    background: #141414;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_menu ul{
    width: 545px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu ul li a,
.burger_menu ul li a{
    font-family: 'c-r';
    letter-spacing: 1.2px;
    color: #c6c6c6;
}
.header_menu ul li a:hover,
.burger_menu ul li a:hover{
    color: #95e1f4;
}
.header_lang select{
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c6c6c6;
    padding: 10px;
}
.header_lang select option{
    color: #c6c6c6;
    background-color: #141414;
}
.header_slider{
    position: relative;
    height: 777px;
}
.header_slider h4{
    position: absolute;
    z-index: 1000;
    font-family: 'p-r';
    color: #47CCF2;
    font-size: 26px;
    letter-spacing: 5px;
    top: 50%;
    left: -50%;
    transition: 1400ms;
}
.header_slider img{
    position: absolute;
    opacity: 0;
    transition: 1500ms;
    width: 100%;
    height: 100%;
}
.img1{
    opacity: 1;
}
.fa-bars{
    display: none;
    color: #fff;
    width: 30px;
    height: 30px;
}
header{
    position: relative;
}
.burger_menu{
    display: none;
}
.burger_icon{
    display: none;
}
/* HEADER_FINISH */

/* SECTION_START */
.section_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
}
.section_top h2{
    color: #333333;
    font-size: 54px;
    font-weight: 500;
    font-family: 'j-r';
    text-align: center;
    margin-bottom: 20px;
}
.section_top p{
    max-width: 883px;
    text-align: center;
    margin: 0 auto;
    color: #555555;
    font-family: 'r-r';
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.5px;
    margin-bottom: 35px;
} 
.section_top a{
    background: linear-gradient(180deg, #B50000 0%, #B50000 100%);
    color: #ffffff;
    padding: 12px 22px;
    width: 139px;
    text-align: center;
    font-family: 'j-r';
    margin: 0 auto;
    border-radius: 4px;
}
.section_bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 54px;
    background: #f4f4f4;
}
.section_bottom h2{
    color: #333333;
    font-size: 54px;
    font-weight: 500;
    font-family: 'j-r';
    margin-bottom: 25px;
    text-align: center;
}
.section_bottom img{
    max-width: 831px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.section_bottom p{
    width: 100%;
    max-width: 863px;
    margin: 0 auto;
    font-family: 'r-r';
    font-size: 18px;
    line-height: 1.9em;
    letter-spacing: -0.5px;
    color: #555555;
}
/* SECTION_FINISH */

/* MAIN_START */
main{
    background: url('../assets/images/fixed.jpg') no-repeat center center /cover;

    background-attachment: fixed;
}
.opacity{
    background-color: #000000;
    opacity: 0.7;
    padding: 110px 0;
}
.main_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.menu_elements{
    display: flex;
    max-width: 903px;
    margin: 0 auto;
}
.main_other h1{
    color: #ffffff;
    font-size: 13px;
    font-family: 'j-r';
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.main_other > p{
    color: #ffffff;
    font-size: 54px;
    font-family: 'j-b';
    text-align: center;
}
.menu p{
    font-family: "Raleway", Sans-serif;
    color: #fff;
    padding: 20px 25px;
    font-weight: 700;
    font-size: 17px;
    width: 235px;
    cursor: pointer;
}
.menus_title{
    padding: 13px 20px;
    width: 100%;
    border: 3px solid #fff ;
}
.menus_title p,
.menus_title b{
    color: #fff;
    text-align: left;
    font-family: "Raleway", Sans-serif;
    font-weight: 400;
    margin-bottom: 17px;
    line-height: 2;
}
.menus_title b{
    font-weight: 700;
}
.menu_title{
    display: none;
}
.menu_title:nth-child(1){
    display: block;
}

.menu_title p span{
    text-decoration: underline;
    font-weight: 700;
}
.item img{
    width: 100%;
    height: 200px;
    margin: 5px;
}
.menu_footer p,
.menu_footer span{
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 21px;
    display: flex;
    margin: 20px auto 30px auto;
    display: block;
    text-align: center;
    font-weight: 500;
    max-width: 883px;
}
.menu:nth-child(1){
    border: 3px solid #fff;
    border-right: none;
}
/* MAIN_FINISH */
/* SECTION_START */
.dish_text{
    text-align: center;
    padding: 72px 0 0 0 ;
}
.fa-heart{
    background: #B50000;
    color: #fff;
    border-radius: 50%;
    padding: 1.6em;
    max-width: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.dish_text h3{
    color: #555555;
    font-size: 54px;
    font-weight: 700;
    font-family: j-b;
    margin-bottom: 30px;
}
.our_dish_menu{
    width: 42%;
}
.our_dish_menu p{
    text-align: left;
    color: #555555;
    font-family: "Raleway", Sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}
.dish_p:nth-child(1){
    border: 1px solid #69e3f3;
    border-right: none;
}
.menu_2{
    display: flex;
    margin: 0 auto;
    width: 905px;
}
.our_dish_title{
    padding: 20px;
    border-style: solid solid solid double;
    border-width: 1px;
    border-color: #69e3f3;
    width: 68%;
}
.dish_title p{
    margin-bottom: 20px;
    color: #4c4c4c;
    font-family: "Raleway", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.5;
}
.dish_title:nth-child(1){
    display: block;
}
.dish_title img{
    max-width: 300px;
    height: 225px;
}
.dish_title{
    display: none;
}
.dish_title:nth-child(5) img{
    margin-bottom: 20px;
}
.dot{
    display: flex;
    align-items: center;
}
.fa-circle{
    width: 5px;
}
.dot p{
    margin:0 0 0 8px;
}
.our_dish a{
    display: flex;
    justify-content: center;
    width: 145px;
    margin:  35px auto;
    align-items: center;
    background-image: linear-gradient(180deg, #B50000 0%, #B50000 100%);
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 4px;
    color: #fff;
    font-family: "Raleway", Sans-serif;
}
.slider img{
    border: 2px solid #4c4c4c;
}
/* SECTION_FINISH */
/* FOOTER_START */
footer{
    background-color: #222;
    padding: 30px 0;
    color: #fff;
}
.footer_elem{
    display: flex;
    justify-content: space-around;
}
.footer_center{
    max-width: 369px;
}
.footer_left h4,
.footer_center h4,
.footer_bottom h4{
    font-family: 'c-r';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 15px;
    border-left: 3px solid #95e1f4;
    margin-bottom: 20px;
}
.about_left{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fa-location-dot,
.fa-phone{
    width: 12px;
    height: 16px;
    border: 1px solid #555;
    padding: 12px 14px;
    color: #95e1f4;
    margin-right: 15px;
}
.left_elem span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.left_elem p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 17px;
}
.fa-circle{
    width: 10px;
    height: 10px;
    color: #fff;
    margin-right: 7px;
}
.left_about{
    margin-bottom: 20px;
}
.left_about ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    transition: 500ms;
}
.left_about ul li a{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.left_about ul li:hover{
    transform: translateX(10px);
}
.left_about ul li:hover a{
    color: #69e3f3;
}
.fa-facebook,
.fa-instagram{
    width: 25px;
    margin-right: 10px;
    height: 25px;
}
.foot_icon a{
    color: #fff;
}
.foot_icon a:hover{
    color: #69e3f3;
}
/* FOOTER_FINISH */

























/* MEDIA_START */
@media (max-width: 1500px){
.header_slider{
    max-width: 1700px;
    height: 650px;
}
.header_slider h4{
    left: 14% !important;
}
}

@media (max-width: 1450px) {
.header_slider h4 {
    left: 26% !important;
}
}

@media (max-width:930px) {
.header_slider h4 {
    left: 13% !important;
}
.menu_2{
    width: 700px;
}
}

@media (max-width: 850px) {
.header_menu ul{
    width: 366px;
}
.menu_2{
    flex-wrap: wrap;
}
.dish_p{
    border: 1px solid #69e3f3 !important;
}
.our_dish_menu{
    margin: 0 auto;
}
.our_dish_title{
    margin: 0 auto;
}
.our_dish_menu {
    width: 93%;
}
.our_dish_menu p{
    text-align: center;
}
}

@media (max-width: 750px) {
.header_slider h4 {
    left: 7% !important;
    
}
.header_slider{
    height: 420px;
}
}

@media (max-width: 700px){
.header_slider{
    height: 365px;
}
.header_slider h4{
    font-size: 22px;
    top: 48%;
    left: 11% !important;
}
.header_menu{
    display: none;
}
.fa-bars{
    display: inline-block;
}
.header_lang select{
    width: 66px;
    height: 32px;
    background: #2b2828;
    padding: 5px;
}
.fa-xmark{
    color: #c6c6c6;
    width: 29px;
    height: 32px;
}
.burger_menu ul li:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger_menu{
    position: fixed;
    background: #141414;
    width: 325px;
    height: 350px;
    padding: 19px;
    z-index: 2000;
    top: 0;
    display: block;
    right: -325px;
    transition: 1000ms;
}
.burger_menu ul li a{
    letter-spacing: 7.2px;
    font-size: 20px;
    line-height: 52px;
}
.burger_icon{
    display: block;
}
.menu_2{
    width: 615px;
}
}

@media (max-width: 625px) {
.header_slider h4{
    left: 10% !important;
    font-size: 16px;
}
.header_slider {
    height: 280px;
}
.menu_2{
    width: 500px;
}
main{
    display: none;
}
.dish_text h3{
    font-size: 42px;
}
}

@media (max-width: 500px) {
.header_slider h4 {
    left: 6% !important;
    text-align: center;
    top: 44%;
}
.menu_2{
    width: 400px;
}
.dish_title img {
    max-width: 228px;
    height: 186px;
}
.our_dish_menu p{
    font-size: 13px;
    text-align: center;
}
.dish_title p{
    font-size: 15px;
}
.our_dish_menu {
    width: 93%;
}
.footer_elem{
    display: flex;
    flex-direction: column;
}
.footer_left,
.footer_center,
.footer_bottom{
    margin-bottom: 20px;
}
}

@media (max-width: 400px){
.header_slider{
    max-width: 400px;
    height: 225px;
}
.header_slider h4{
    font-size: 14px;
    letter-spacing: 1px;
    top: 66%;
    left: 15% !important;
}
.header_logo img{
    width: 140px;
}
.burger_menu{
    position: fixed;
    background: #141414;
    width: 231px;
    height: 350px;
    padding: 19px;
    z-index: 2000;
    top: 0;
    display: block;
    right: -231px;
    transition: 1000ms;
}
.burger_menu ul li a{
    letter-spacing: 7.2px;
    line-height: 45px;
}
.fa-xmark{
    color: #c6c6c6;
    width: 29px;
    height: 32px;
}
.burger_menu ul li:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_top{
    padding: 18px;
}
.section_top h2{
    font-size: 38px;
    margin-bottom: 5px;
}
.section_top p{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1.5px;
}
.section_bottom{
    padding: 22px;
}
.section_bottom h2{
    font-size: 39px;
    margin-bottom: 7px;
}
.section_bottom p{
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1.5px;
}
.section_bottom img{
    margin-bottom: 12px;
}
.menu_2{
    width: 335px;
}
.dish_title img {
    max-width: 195px;
    height: 159px;
}
.dish_text h3 {
    font-size: 35px;
}
}
/* MEDIA_FINISH */